---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="About - oandrezito">
  <Header />
	<main>
    <section class="about">
      <div class="about-content">
        <h2>About Me</h2>
        <p>Four years ago, I embarked on my professional journey as a Young Apprentice and quickly developed myself in the administrative field. Driven by my passion for Technology, I decided to explore the IT field and started working as a Support Technician. In this role, besides providing technical support to users, I actively participate in problem-solving and implementing solutions to enhance the team's day-to-day operations.
            I have constantly sought to improve my skills. Alongside pursuing a degree in Information Technology Management, I have dedicated myself to personal projects, engaging in online courses, and seeking knowledge through readings and industry events.
            I am enthusiastic and ready to take on new challenges in the technology field. My curiosity and passion for learning continue to drive my professional development. I am always seeking new knowledge and experiences that can contribute to my career path.
          </p>
      </div>
    </section>
	</main>
</Layout>

<style>
  .about {
    margin-top: 5rem;
    padding: 20px;
    text-align: center;
  }

  .about-content {
    max-width: 600px;
    margin: 0 auto;
  }

  .about h2 {
    color: #377e31;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .about p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }
</style>
