---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="oandrezito">
	<Header />
	<main>
		<div class="container">
			<h1 >Andre Fernando</h1>
		</div>
		<p class="instructions">
			Iniciando minha jornada na programação<br />
			Futuro programador
		</p>	
	</main>
	<Footer />
</Layout>

<style>
	 main {
    margin: auto;
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 900px;
    color: white;
    font-size: 20px;
    line-height: 1.2;
    min-height: calc(100vh - 120px); /* Define a altura mínima para ocupar toda a tela */
  }
  .container{
    margin-top: 10rem;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    margin-bottom: 12px;
  }
  p {
    font-size: 0.875rem; /* Defina o tamanho da fonte para parágrafos em relação ao tamanho do corpo */
  }
  .instructions {
    margin-bottom: 2rem;
    text-align: left;
  }
</style>