---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro"
---

<Layout title="Projects - oandrezito">
  <Header />
  <main>
    <div>
      <ul role="list" class="link-card-grid">
        <Card
          href="https://github.com/oandrezito"
          target="_blank"
          title="Projetos"
          body="Confira alguns de meus projetos desenvolvidos"
        />
      </ul>
    </div>
  </main>
</Layout>

