---
const today = new Date();

---

<footer>
	<div class="social-links">
		<!-- <a href="https://twitter.com/ooandrezito" target="_blank">
			<span class="sr-only">Twitter</span>
    </a>
		<a href="https://github.com/oandrezito" target="_blank">
			<span>Github</span>
		</a> -->
	</div>
	&copy; {today.getFullYear()} Andre Fernando. All rights reserved.
</footer>

<style>
  footer{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    width:99vw;
    margin-top: auto;
  }

</style>